// font
@import url("https://use.typekit.net/eqp3quc.css");

:root {
  --bg: #0c0c0c;
  --font: #f0f0f0;
  --font-secondary: #683a1d;

  --sv-bg: #FFD284;
  --sv-border: #853605;
  --sv-button: #FA9305;
  --sv-button-hover: #F08003;

  --primary: #dd3e61;
}